@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --tp1: 700 2.5rem/1.2 "DM Sans";
  --tp2: 700 2rem/1.25 "DM Sans";
  --tp3: 700 1.5rem/1.25 "DM Sans";
  --tp4: 700 1.125rem/1.4 "DM Sans";
  --tp5-bold: 700 0.9375rem/1.35 "DM Sans";
  --tp5: 400 0.9375rem/1.65 "DM Sans";
  --tp6: 400 0.8125rem/1.3 "DM Sans";
  --tp7: 700 0.75rem/1.35 "DM Sans";

  --ltsp5-bold: 0.15625rem;
  --ltsp7: 0.125rem;

  /* Neutral */
  --neutral-950: #000000;
  --neutral-400: #5a5a5a;
  --neutral-301: #979797;
  --neutral-300: #dfdfdf;
  --neutral-200: #efefef;
  --neutral-100: #f5f5f5;
  --neutral-0: #ffffff;

  /* Gradient 1 */
  --gradient-1: linear-gradient(180deg, #000000 0%, #000000a6 100%);

  /* Gradient 2 */
  --gradient-2: linear-gradient(225deg, #63afdb 0%, #6028f1 100%);

  /* Gradient 3 */
  --gradient-3: linear-gradient(225deg, #65ffeb 0%, #27718a 100%);

  /* Gradient 4 */
  --gradient-4: linear-gradient(45deg, #d3205a 0%, #ff5a5a 100%);

  /* Gradient 5 */
  --gradient-5: linear-gradient(225deg, #f6c683 0%, #de3838 100%);

  /* Gradient 6 */
  --gradient-6: linear-gradient(53deg, #ffc593 0%, #bc7198 50%, #5a77ff 100%);

  /* Gradient 7 */
  --gradient-7: radial-gradient(
    circle at bottom left,
    #ffc593 0%,
    #bc7198 50%,
    #5a77ff 100%
  );
}

body {
  background-color: var(--neutral-300);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  margin: 0;
}
p {
  text-align: center;
}
.img-container-1,
.img-container-2,
.text-container-1 {
  width: 100%;
}
.img-container-1 {
  height: 114rem;
}
.img-container-2 {
  height: 31rem;
}

.img-container-1 .img1 {
  height: 40rem;
}
.img1 img,
.img2 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img-container-1 .img2 {
  object-fit: cover;
  width: 100%;
  height: 37rem;
}
.text-container-1 img {
  height: 31rem;
  width: 100%;
  object-fit: cover;
}
.grid-1 .text1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.25rem;
  padding: 5.5rem;
}
.text1.bg-black {
  background-color: var(--neutral-950);
  color: white;
}
.text1 h2,
.text1 h3 {
  font: var(--tp2);
  text-transform: uppercase;
  width: min(20.5rem, 80%);
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
}
.text1 p {
  text-align: left;
  font: var(--tp5);
  color: var(--neutral-400);
}
.text1.bg-black p {
  color: var(--neutral-300);
}
.text1 a {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  text-transform: uppercase;
  font: var(--tp7);
  color: var(--neutral-950);
  letter-spacing: 0.125rem;
}
.text1.bg-black a {
  color: var(--neutral-300);
}
.text1.bg-black a img {
  filter: brightness(0) invert(1);
}
.grid-2 .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
  height: 31rem;
  overflow: hidden;
  width: 100%;
}

.grid-2 .item:hover {
  transform: translateY(-1.875rem);
}
.item.dark-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.grid-2 .item:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: var(--gradient-6);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  max-width: 90rem;
  margin: 0 auto;
  background-color: white;
  min-height: auto;
}
.grid-1 {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 0rem;
  align-items: center;
  height: 37rem;
}
.grid-1.extra-height {
  height: 40rem;
}
.img1 {
  height: 100%;
}
.text1 {
  height: 100%;
}
.grid-1.reverse {
  grid-template-columns: 2fr 1.5fr;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  gap: 0;
}
.grid-2 .item {
  position: relative;
  color: white;
  height: 31rem;
}
.item .text-abs {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 2rem;
}
.item .text-abs h4 {
  font: var(--tp4);
  color: var(--neutral-100);
  margin-bottom: 0.5rem;
}

.item .text-abs a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  text-transform: uppercase;
  font: var(--tp7);
  letter-spacing: 0.125rem;
}
.item .text-abs p {
  font: var(--tp5);
  color: var(--neutral-100);
  text-align: left;
}
.item .text-abs a img {
  width: 3rem;
  height: auto;
  filter: brightness(0) invert(1);
}
.border {
  border-bottom: 0.0625rem solid var(--neutral-301);
  height: 0.0625rem;
  width: 100%;
  margin: 1rem 0;
}
.text-container-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  min-height: auto;
  padding: 4rem;
  gap: 4rem;
  min-height: 31rem;
}
.text-container-1 .item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: min(19.2rem, 100%);
}
.text-container-1 img {
  height: 4.5rem;
  width: auto;
}
.item h5 {
  font: var(--tp4);
  color: var(--neutral-950);
}
.item p {
  font: var(--tp5);
  color: var(--neutral-950);
  text-align: center;
}
.img-container-3 {
  min-height: auto;
  padding: 0;
  margin: 0;
  width: 100%;
}
.grid-3 {
  position: relative;
  height: 40rem;
}
.img-item {
  height: 40rem;
  width: 100%;
}
.img-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.text-abs2 {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  left: 7rem;
  width: 25.375rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
}
.text-abs2 h1 {
  font: var(--tp1);
  text-transform: uppercase;
}
.text-abs2 strong {
  font: var(--tp7);
  letter-spacing: var(--ltsp7);
  text-transform: uppercase;
  text-align: left;
  width: 100%;
}
.text-abs2 p {
  font: var(--tp5);
  text-align: left;
  color: var(--neutral-301);
  width: 100%;
  padding-right: 1rem;
}
p span {
  color: white;
  margin-left: 0.5rem;
}
.text-abs2 a {
  display: flex;
  align-items: center;

  gap: 1rem;
  color: white;
  text-transform: uppercase;
  font: var(--tp7);
  letter-spacing: var(--ltsp7);
}
.text-abs2 a img {
  width: 3rem;
  height: auto;
  filter: brightness(0) invert(1);
}
.img-container-4 {
  height: 30rem;
  width: 100%;
}
.grid-4 {
  display: grid;
  grid-template-columns: 3fr 4fr;
  height: 30rem;
  width: 100%;
  gap: 0;
}
.grid-4 .item-img {
  height: 30rem;
}
.grid-4 .item-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.grid-4 .item {
  background-color: var(--neutral-950);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: white;
}
.grid-4 .text {
  text-align: left;
  color: white;
  width: min(24.125rem, 100%);
}
.grid-4 .text h1 {
  margin-bottom: 1.25rem;
  font: var(--tp1);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
.text p {
  font: var(--tp5);
  color: var(--neutral-301);
  text-align: left;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
  max-width: 90rem;
  margin: 0 auto;
}
.header h1 {
  font: var(--tp2);
}
.menu-button {
  display: none;
  background: none;
  border: none;
}
.nav {
  min-width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 1.5rem;
  justify-content: space-around;
  align-items: center;
  font: var(--tp4);
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}
.invite-button {
  padding: 0.8rem 1.5rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 0.125rem;
  font: var(--tp4);
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}
.invite-button.menu {
  display: none;
}
.invite-button.head {
  display: block;
}
.nav {
  transition: none;
}

.social-links img {
  filter: brightness(0) invert(1);
}
.social-links img:hover {
  filter: none;
}
footer {
  background-color: black;
  color: white;
  padding: 2.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 90rem;
  margin: 0 auto;
}
.footer-con {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "a b c"
    "d b h";
  justify-content: center;
  justify-items: center;
}
.footer-logo {
  grid-area: a;
}
.footer nav {
  grid-area: b;
  justify-self: start;
}
.footer-nav-list {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font: var(--tp7);
}
.footer-nav-list a {
  color: white;
}
.social-links {
  width: 100%;
  display: flex;
  grid-area: d;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  align-self: end;
}
.copyright {
  grid-area: h;
  font: var(--tp5);
  color: var(--neutral-400);
  align-self: end;
}
.footer-invite-btn {
  padding: 0.8rem 1.5rem;
  color: white;
  border: none;
  font: var(--tp7);
  grid-area: c;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  align-self: start;
}
.footer-invite-btn img {
  filter: brightness(0) invert(0.7);
}
.grid-2 .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.plan-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.plan-btn span {
  font: var(--tp4);
  color: var(--neutral-301);
}
.plan-btn span.active {
  color: var(--neutral-9500);
}
.checkbox-container {
  position: relative;
  width: 4rem;
  height: 1.8rem;
  background-color: var(--neutral-300);
  border-radius: 2rem;
}
.checkbox-container .checkmark {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 50%;
  left: 0.3rem;
  border-radius: 50%;

  transform: translate(0, -50%);
  background-color: var(--neutral-950);
  transition: all 0.3s ease;
}
.checkbox-container input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}
.checkbox-container input:checked + .checkmark {
  left: 2.25rem;
}

.subscriptions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.subscriptions .item {
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-100);
  width: 21rem;
  padding: 2rem;
  gap: 1.5rem;
  transition: transform 0.5s ease;
}
.item .left h3 {
  font: var(--tp3);
  color: var(--neutral-950);
  text-align: center;
}
.item .right .price {
  font: var(--tp1);
  color: var(--neutral-950);
  text-align: center;
  letter-spacing: 2px;
}
.item .right .per {
  text-align: center;
  font: var(--tp5);
  color: var(--neutral-400);
}
.item .right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.item .left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.subscriptions .item p {
  font: var(--tp5);
  color: var(--neutral-400);
  text-align: center;
  margin-bottom: 1rem;
}
.subscriptions .item button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font: var(--tp7);
  padding: 0.8rem 1.5rem;
  background-color: var(--neutral-950);
  color: white;
  border: none;
  border-radius: 0.25rem;
  letter-spacing: 2px;
  cursor: pointer;
}
.subscriptions .item.active {
  transform: scale(1.05);
  background-color: var(--neutral-950);
}
.subscriptions .item.active h3 {
  color: white;
}
.subscriptions .item.active .price {
  color: white;
}
.subscriptions .item.active p,
.subscriptions .item.active .per {
  color: var(--neutral-300);
}
.subscriptions .item.active button {
  background-color: white;
  color: var(--neutral-950);
}
.plan-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
}
.subscriptions .item.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: -5px;
  width: 100%;
  height: 5px;
  background: var(--gradient-6);
}
@media (max-width: 90rem) {
  .img-container-2 {
    height: 62rem;
  }
  .grid-2 {
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
  }
  .grid-2 .item {
    width: 100%;
  }
  .text-container-1.p {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 64rem) {
  .grid-1 {
    grid-template-columns: 5fr 3fr;
  }
  .grid-1.reverse {
    grid-template-columns: 3fr 5fr;
  }
  .text-container-1,
  .text-container-1.p {
    padding: 5rem 1rem;
    grid-template-columns: 1fr;
    gap: 3rem;
    justify-items: center;
    height: auto;
  }
  .footer-con {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "a  c"
      "b  h"
      "d h";
    gap: 0.5rem;
    max-width: 43.75rem;
  }
  .footer-nav-list {
    flex-direction: row;
    margin-bottom: 3rem;
  }
  .footer nav {
    justify-self: start;
    align-self: start;
  }
  .footer-logo {
    justify-self: start;
  }
  .social-links {
    justify-self: start;
    justify-content: flex-start;
  }

  .invite-button {
    padding: 0.6rem 0.7rem;
  }
  .nav-list {
    gap: 0.5rem;
  }
  .text-abs2 {
    left: 2.5rem;
  }
  .text-abs2 h1 {
    width: 100%;
    text-align: left;
  }
  .grid-4 {
    grid-template-columns: 2fr 1fr;
  }
  .grid-4 .item-img img {
    content: url("/assets/features/tablet/hero.jpg");
  }
  .grid-4 .item-img.p img {
    content: url("/assets/pricing/tablet/hero.jpg");
  }
  .subscriptions {
    flex-direction: column;
  }
  .subscriptions .item {
    width: 100%;
  }
  .devision {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
  .subscriptions {
    width: 100%;
  }
  .devision .left {
    max-width: 20rem;
  }
  .devision .left p {
    text-align: left;
  }
  .devision .left h3 {
    text-align: left;
  }
  .subscriptions .item button {
    width: 16rem;
  }
  .subscriptions .item.active {
    transform: scale(1);
  }
  .subscriptions .item.active::before {
    top: 0;
    left: -5px;
    height: 100%;
    width: 5px;
  }
}
@media (max-width: 47.9375rem) {
  .plan-container {
    padding: 2rem 1rem;
  }
  .devision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .devision .left {
    max-width: auto;
  }
  .devision .left p {
    text-align: center;
  }
  .devision .left h3 {
    text-align: center;
  }
  .subscriptions .item button {
    width: 100%;
  }
  .subscriptions .item.active::before {
    left: 0;
    width: 100%;
    height: 5px;
    top: -5px;
  }
  .img-container-1 {
    height: 130.5rem;
  }
  .grid-1 .text1 {
    padding: 1.5rem;
  }
  .grid-1 {
    grid-template-columns: 1fr;
    height: 43rem;
    grid-template-rows: 2fr 3fr;
    grid-template-areas:
      "img"
      "text";
  }
  .grid-1 .img2 {
    grid-area: img;
  }
  .grid-1 .text1 {
    grid-area: text;
  }
  .grid-1.reverse {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr;
    height: 43rem;
  }
  .grid-1 .img2,
  .grid-1.reverse .img2 {
    height: 17rem;
  }
  .grid-1 .img2 img,
  .grid-1.reverse .img2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .img-container-2 {
    height: 124rem;
  }
  .grid-2 {
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr;
  }

  .grid-1.extra-height {
    display: grid;
    height: 44.5rem;
    grid-template-rows: 3fr 4.7fr;
    grid-template-areas:
      "img"
      "text";
  }
  .text-container-1 {
    grid-area: text;
  }
  .grid-1.extra-height .img1 img {
    height: 18rem;
    width: 100%;
    object-fit: cover;
  }
  .grid-1.extra-height .img1 {
    height: 18rem;
    grid-area: img;
  }
  .grid-3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr;
    height: auto;
    gap: 0;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: var(--neutral-950);
  }
  .img-item {
    height: 19.8125rem;
    justify-self: start;
  }
  .text-abs2 {
    position: static;
    background-color: var(--neutral-950);
    width: 100%;
    min-height: auto;

    transform: translateY(0);
    justify-content: center;
    align-items: center;
    padding: 1.75rem;
  }
  .text-abs2 a {
    width: 100%;
  }
  .img-container-4 {
    height: auto;
  }
  .grid-4 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
    width: 100%;
  }
  .grid-4 .item-img img {
    content: url("/assets/features/mobile/hero.jpg");
  }
  .grid-4 .item-img.p img {
    content: url("/assets/pricing/mobile/hero.jpg");
  }
  .grid-4 .item-img {
    height: auto;
    width: 100%;
  }
  .header {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .header h1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-button {
    display: block;
  }

  .nav {
    position: absolute;
    top: 100%;
    padding: 2rem;
    background-color: white;
    z-index: 500;
    width: min(20rem, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-1.25rem);
    transition:
      opacity 0.5s ease,
      transform 0.5s ease;
  }
  .header.open .nav {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  .nav-list {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 0.0625rem solid black;
    padding: 1rem 0;
  }
  .invite-button {
    width: 100%;
    text-align: center;
  }
  .invite-button.head {
    display: none;
  }
  .invite-button.open {
    display: block;
  }
  .footer-con {
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "d"
      "b"
      "c"
      "h";
    gap: 1.5rem;
  }
  .footer nav {
    justify-self: center;
    align-self: center;
  }
  .footer-nav-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-logo {
    justify-self: center;
  }
  .social-links {
    justify-self: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5rem;
  }
}

@media (max-width: 31.25rem) {
  .text-abs2 {
    gap: 1rem;
    padding: 1rem;
  }
}
