@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --tp1: 700 40px/1.2 "DM Sans";
  --tp2: 700 32px/1.25 "DM Sans";
  --tp3: 700 24px/1.25 "DM Sans";
  --tp4: 700 18px/1.4 "DM Sans";
  --tp5-bold: 700 15px/1.35 "DM Sans";
  --tp5: 400 15px/1.65 "DM Sans";
  --tp6: 400 13px/1.3 "DM Sans";
  --tp7: 700 12px/1.35 "DM Sans";

  --ltsp5-bold: 2.5px;
  --ltsp7: 2px;

  /* Neutral */
  --neutral-950: #000000;
  --neutral-400: #5a5a5a;
  --neutral-301: #979797;
  --neutral-300: #dfdfdf;
  --neutral-200: #efefef;
  --neutral-100: #f5f5f5;
  --neutral-0: #ffffff;

  /* Gradient 1 */
  --gradient-1: linear-gradient(180deg, #000000 0%, #000000a6 100%);

  /* Gradient 2 */
  --gradient-2: linear-gradient(225deg, #63afdb 0%, #6028f1 100%);

  /* Gradient 3 */
  --gradient-3: linear-gradient(225deg, #65ffeb 0%, #27718a 100%);

  /* Gradient 4 */
  --gradient-4: linear-gradient(45deg, #d3205a 0%, #ff5a5a 100%);

  /* Gradient 5 */
  --gradient-5: linear-gradient(225deg, #f6c683 0%, #de3838 100%);

  /* Gradient 6 */
  --gradient-6: linear-gradient(53deg, #ffc593 0%, #bc7198 50%, #5a77ff 100%);

  /* Gradient 7 */
  --gradient-7: radial-gradient(
    circle at bottom left,
    #ffc593 0%,
    #bc7198 50%,
    #5a77ff 100%
  );
}

body {
  background-color: var(--neutral-300);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  margin: 0;
}
p {
  text-align: center;
}
.img-container-1,
.img-container-2,
.text-container-1 {
  width: 100%;
}
.img-container-1 {
  height: 114rem;
}
.img-container-2 {
  height: 31rem;
}
.text-container-1 {
  height: 30rem;
}
.img-container-1 .img1 {
  height: 40rem;
}
.img1 img,
.img2 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img-container-1 .img2 {
  object-fit: cover;
  width: 100%;
  height: 37rem;
}
.text-container-1 img {
  height: 31rem;
  width: 100%;
  object-fit: cover;
}
.grid-1 .text1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.25rem;
  padding: 5.5rem;
}
.text1.bg-black {
  background-color: var(--neutral-950);
  color: white;
}
.text1 h2,
.text1 h3 {
  font: var(--tp2);
  text-transform: uppercase;
  width: min(20.5rem, 80%);
  line-height: 2.5rem;
  letter-spacing: 2px;
}
.text1 p {
  text-align: left;
  font: var(--tp5);
  color: var(--neutral-400);
}
.text1.bg-black p {
  color: var(--neutral-300);
}
.text1 a {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  text-transform: uppercase;
  font: var(--tp7);
  color: var(--neutral-950);
  letter-spacing: 2px;
}
.text1.bg-black a {
  color: var(--neutral-300);
}
.text1.bg-black a img {
  filter: brightness(0) invert(1);
}
.grid-2 .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: white;
}
.grid-1 {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 0rem;
  align-items: center;
  height: 37rem;
}
.grid-1.extra-height {
  height: 40rem;
}
.img1 {
  height: 100%;
}
.text1 {
  height: 100%;
}
.grid-1.reverse {
  grid-template-columns: 2fr 1.5fr;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  gap: 0;
}
.grid-2 .item {
  position: relative;
  color: white;
  height: 31rem;
}
.item .text-abs {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 2rem;
}
.item .text-abs h4 {
  font: var(--tp4);
  color: var(--neutral-100);
  margin-bottom: 0.5rem;
}

.item .text-abs a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  text-transform: uppercase;
  font: var(--tp7);
  letter-spacing: 2px;
}
.item .text-abs p {
  font: var(--tp5);
  color: var(--neutral-100);
  text-align: left;
}
.item .text-abs a img {
  width: 3rem;
  height: auto;
  filter: brightness(0) invert(1);
}
.border {
  border-bottom: 1px solid var(--neutral-301);
  height: 1px;
  width: 100%;
  margin: 1rem 0;
}
.text-container-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.text-container-1 .item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: min(19.2rem, 100%);
}
.text-container-1 img {
  height: 4.5rem;
  width: auto;
}
.item h5 {
  font: var(--tp4);
  color: var(--neutral-950);
}
.item p {
  font: var(--tp5);
  color: var(--neutral-950);
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
  max-width: 1440px;
  margin: 0 auto;
}
.header h1 {
  font: var(--tp2);
}
.menu-button {
  display: none;
  background: none;
  border: none;
}
.nav {
  min-width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 1.5rem;
  justify-content: space-around;
  align-items: center;
  font: var(--tp4);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.invite-button {
  padding: 0.8rem 1.5rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 2px;
  font: var(--tp4);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.invite-button.menu {
  display: none;
}
.invite-button.head {
  display: block;
}
.nav {
  transition: none;
}

.social-links img {
  filter: brightness(0) invert(1);
}
.social-links img:hover {
  filter: none;
}
footer {
  background-color: black;
  color: white;
  padding: 2.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 1440px;
  margin: 0 auto;
}
.footer-con {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "a b c"
    "d b h";
  justify-content: center;
  justify-items: center;
}
.footer-logo {
  grid-area: a;
}
.footer nav {
  grid-area: b;
  justify-self: start;
}
.footer-nav-list {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font: var(--tp7);
}
.footer-nav-list a {
  color: white;
}
.social-links {
  width: 100%;
  display: flex;
  grid-area: d;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  align-self: end;
}
.copyright {
  grid-area: h;
  font: var(--tp5);
  color: var(--neutral-400);
  align-self: end;
}
.footer-invite-btn {
  padding: 0.8rem 1.5rem;
  color: white;
  border: none;
  font: var(--tp7);
  grid-area: c;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  align-self: start;
}
.footer-invite-btn img {
  filter: brightness(0) invert(0.7);
}

@media (max-width: 1440px) {
  .img-container-2 {
    height: 62rem;
  }
  .grid-2 {
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
  }
  .grid-2 .item {
    width: 100%;
  }
  .grid-2 .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 1024px) {
  .grid-1 {
    grid-template-columns: 5fr 3fr;
  }
  .grid-1.reverse {
    grid-template-columns: 3fr 5fr;
  }
  .text-container-1 {
    padding: 5rem;
    grid-template-columns: 1fr;
    gap: 3rem;
    justify-items: center;
    height: auto;
  }
  .footer-con {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "a  c"
      "b  h"
      "d h";
    gap: 0.5rem;
    max-width: 700px;
  }
  .footer-nav-list {
    flex-direction: row;
    margin-bottom: 3rem;
  }
  .footer nav {
    justify-self: start;
    align-self: start;
  }
  .footer-logo {
    justify-self: start;
  }
  .social-links {
    justify-self: start;
    justify-content: flex-start;
  }
}
@media (max-width: 1024px) {
  .invite-button {
    padding: 0.6rem 0.7rem;
  }
  .nav-list {
    gap: 0.5rem;
  }
}
@media (max-width: 768px) {
  .img-container-1 {
    height: 130.5rem;
  }
  .grid-1 .text1 {
    padding: 1.5rem;
  }
  .grid-1 {
    grid-template-columns: 1fr;
    height: 43rem;
    grid-template-rows: 2fr 3fr;
    grid-template-areas:
      "img"
      "text";
  }
  .grid-1 .img2 {
    grid-area: img;
  }
  .grid-1 .text1 {
    grid-area: text;
  }
  .grid-1.reverse {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr;
    height: 43rem;
  }
  .grid-1 .img2,
  .grid-1.reverse .img2 {
    height: 17rem;
  }
  .grid-1 .img2 img,
  .grid-1.reverse .img2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .img-container-2 {
    height: 124rem;
  }
  .grid-2 {
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr;
  }

  .grid-1.extra-height {
    display: grid;
    height: 44.5rem;
    grid-template-rows: 3fr 4.7fr;
    grid-template-areas:
      "img"
      "text";
  }
  .text-container-1 {
    grid-area: text;
  }
  .grid-1.extra-height .img1 img {
    height: 18rem;
    width: 100%;
    object-fit: cover;
  }
  .grid-1.extra-height .img1 {
    height: 18rem;
    grid-area: img;
  }

  .header {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .header h1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-button {
    display: block;
  }

  .nav {
    position: absolute;
    top: 100%;
    padding: 2rem;
    background-color: white;
    z-index: 500;
    width: min(20rem, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition:
      opacity 0.5s ease,
      transform 0.5s ease;
  }
  .header.open .nav {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  .nav-list {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid black;
    padding: 1rem 0;
  }
  .invite-button {
    width: 100%;
    text-align: center;
  }
  .invite-button.head {
    display: none;
  }
  .invite-button.open {
    display: block;
  }
  .footer-con {
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "d"
      "b"
      "c"
      "h";
    gap: 1.5rem;
  }
  .footer nav {
    justify-self: center;
    align-self: center;
  }
  .footer-nav-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-logo {
    justify-self: center;
  }
  .social-links {
    justify-self: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5rem;
  }
}
